
<%= form_tag '/login' do %>
<div class="container">
<h1 >Log in </h1>
<div class="form-group">
  Email: <%= text_field_tag :email , "", class: 'form-control' %>
  Password: <%= password_field_tag :password , "", class: 'form-control' %>
  <%= submit_tag "Log in" , class: "btn btn-primary" %>
</div>
</div>
<% end %>

<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<%= link_to "auth/facebook", class: "btn btn-social-icon btn-facebook" do %>
   			<span class="fa fa-facebook"></span> Sign in with Facebook
		<% end %>		
	</div>
</div>

